body{
    background: linear-gradient(25deg,#f181aa,#d36c76 50%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.container{ 
    background-color: #eee9e9;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 30px;
    margin-bottom: 1.5rem;
    text-align: center;
}
.stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.timer{
    font-size: 40px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    animation:  sadik 1.5s infinite alternate ;
}
@keyframes sadik {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.04);
    }
}
.timer span{
    width: 110px;
    display: inline-block;
    text-align: center;
}
.controls{
    display: flex;
    gap: 1rem;
}
button{
    background-color: #f25191;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: grab;
    transition: background-color 0.3s ease-in-out;

}
button:hover{
    background-color: #d72a76;
}
.laps{
    width: 100%;
}
.lap-title{
    font-size: 1.5rem;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 200px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
li{
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
}

li:last-child{
    border-bottom: none;
}

li span{
    font-weight: 700;
}
